@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root {
  font-family: "Source Sans Pro", sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.content {
  width: -webkit-fill-available;
  height: 100%;
  font-weight: 400;
  margin-left: 75px;
}

.pro-sidebar {
  /*height: 100%;*/
  /*height: 150% !important;*/
  /* border-style: dashed; */
  /*text-shadow: 0 0 black;*/

    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ancho de tu navbar */
    height: 100vh; /* 100% de la altura de la ventana */

}

.pro-sidebar.collapsed {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  
}




.app {
  /* height: 100%; */
  display: flex;
  position: relative;
  text-align: -webkit-center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}




a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 5px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.card-img-top {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.card-title {
    text-align: center;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 2rem;
}

.doctores-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 2rem;
}


.card {
  min-width: 300px; 
  max-height: 600px;
}

.btn-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card2 {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.mb-3{
  justify-content: center;
  display: grid;
}

.p-datatable .p-datatable-header{
  justify-content: center;
  display: grid;
}

/* .p-datatable .p-datatable-header{
  justify-content: center;
  display: grid;
  border-color: inherit;
  border-style: solid;
  border-width: thin;
}

.p-datatable .p-paginator-bottom{

    border-radius: 0;
    border-color: inherit;
    border-style: solid;
    border-width: thin;
}

tbody,td,tfoot,th,thead,tr {
  border-color: inherit;
  border-style: solid;
  border-width: thin;
} */


.nav-item {
  margin-left: 20px;
}

.nav-item-btn {
  padding-left: 50%;
}

.nav-item-MISDATOS{
  text-align: center ;
}

ol, ul {
  padding-left: 0rem;
}